.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 100px;
  padding: 0 10px;
}

.trybewarts-login {
  align-items: center;
  display: flex;
  justify-content: center;
}

.trybewarts-login input , .trybewarts-login button {
  height: 40px;
  margin-left: 10px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  background-color: aqua;
}

#trybewarts-forms-logo {
  height: 500px;
}

#personal-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#input-name , #input-lastname , #input-email {
  width: 48%;
}

#house {
  width: 49.5%;
}
/* 
#label-family {
  display: flex;
  flex-direction: column;
} */
